@import "tailwindcss";

@theme {
  --color-primary: #0ff;
  --color-secondary: #005577;
  --color-accent: #33ccff;
  --color-bg: #0a0a0a;
  --color-text: #e0e0e0;

  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'IBM Plex Sans', sans-serif;
}

:root {
  --primary: #0ff;
  --secondary: #005577;
  --accent: #33ccff;
  --bg: #0a0a0a;
  --text: #e0e0e0;

  background-color: var(--bg);
  color: var(--text);
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
